In [18]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
import pandas as pd

In [19]:
dataset = pd.read_csv("../Aras/house_a_detected_anomalies.csv")

In [20]:
dataset

,Unnamed: 0.1,Unnamed: 0,photocell_wardrobe,photocell_couch,ir_tv_receiver,force_couch_1,force_couch_2,distance_chair_1,distance_chair_2,photocell_fridge,...,sonar_hall,sonar_kitchen,distance_tap,distance_water_closet,temperature_kitchen,force_bed,Resident1,Resident2,Hour,Anomaly
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,12,17,0,False
1,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,12,17,0,False
2,2,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,12,17,0,False
3,3,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,12,17,0,False
4,4,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,12,17,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2591995,2591995,86395,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,12,2,23,False
2591996,2591996,86396,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,12,2,23,False
2591997,2591997,86397,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,12,2,23,False
2591998,2591998,86398,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,12,2,23,False
2591999,2591999,86399,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,12,2,23,False

In [21]:
dataset["Anomaly"] = dataset["Anomaly"].astype(int)

In [22]:
dataset

,Unnamed: 0.1,Unnamed: 0,photocell_wardrobe,photocell_couch,ir_tv_receiver,force_couch_1,force_couch_2,distance_chair_1,distance_chair_2,photocell_fridge,...,sonar_hall,sonar_kitchen,distance_tap,distance_water_closet,temperature_kitchen,force_bed,Resident1,Resident2,Hour,Anomaly
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,12,17,0,0
1,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,12,17,0,0
2,2,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,12,17,0,0
3,3,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,12,17,0,0
4,4,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,12,17,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2591995,2591995,86395,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,12,2,23,0
2591996,2591996,86396,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,12,2,23,0
2591997,2591997,86397,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,12,2,23,0
2591998,2591998,86398,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,12,2,23,0
2591999,2591999,86399,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,12,2,23,0

In [23]:
dataset[dataset["Anomaly"]==1]

,Unnamed: 0.1,Unnamed: 0,photocell_wardrobe,photocell_couch,ir_tv_receiver,force_couch_1,force_couch_2,distance_chair_1,distance_chair_2,photocell_fridge,...,sonar_hall,sonar_kitchen,distance_tap,distance_water_closet,temperature_kitchen,force_bed,Resident1,Resident2,Hour,Anomaly
28,28,28,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,12,17,0,1
34,34,34,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,12,17,0,1
44,44,44,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,12,17,0,1
62,62,62,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,12,17,0,1
66,66,66,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,12,17,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2591885,2591885,86285,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,12,2,23,1
2591897,2591897,86297,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,12,2,23,1
2591899,2591899,86299,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,12,2,23,1
2591910,2591910,86310,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,12,2,23,1
2591970,2591970,86370,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,12,2,23,1

In [24]:
x = dataset.iloc[:,:-4]
x

,Unnamed: 0.1,Unnamed: 0,photocell_wardrobe,photocell_couch,ir_tv_receiver,force_couch_1,force_couch_2,distance_chair_1,distance_chair_2,photocell_fridge,...,photocell_bathroom_cabinet,contact_house_door,contact_bathroom_door,contact_shower_door,sonar_hall,sonar_kitchen,distance_tap,distance_water_closet,temperature_kitchen,force_bed
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2591995,2591995,86395,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2591996,2591996,86396,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2591997,2591997,86397,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2591998,2591998,86398,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2591999,2591999,86399,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
y = dataset.iloc[:,-1]
y

0          0
1          0
2          0
3          0
4          0
          ..
2591995    0
2591996    0
2591997    0
2591998    0
2591999    0
Name: Anomaly, Length: 2592000, dtype: int32

In [26]:
from sklearn.decomposition import PCA

pca = PCA(n_components=6)
x = pca.fit_transform(x)

In [27]:
x

array([[-1.29604675e+06, -4.17578747e+04, -8.49253030e-01,
        -2.76659193e-02, -1.69709213e-01, -1.88786595e-01],
       [-1.29604575e+06, -4.17568758e+04, -8.49242339e-01,
        -2.76673408e-02, -1.69707595e-01, -1.88785116e-01],
       [-1.29604475e+06, -4.17558769e+04, -8.49231647e-01,
        -2.76687624e-02, -1.69705978e-01, -1.88783637e-01],
       ...,
       [ 1.29604475e+06,  4.17558770e+04, -1.64041051e-02,
         6.56538392e-01,  4.11741835e-01,  5.83568153e-02],
       [ 1.29604575e+06,  4.17568758e+04, -1.63934135e-02,
         6.56536970e-01,  4.11743452e-01,  5.83582943e-02],
       [ 1.29604675e+06,  4.17578747e+04, -1.63827220e-02,
         6.56535549e-01,  4.11745069e-01,  5.83597732e-02]])

In [29]:
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.8)

In [ ]:
rfc = RandomForestClassifier(class_weight="balanced")
rfc.fit(x_train,y_train)

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_train,rfc.predict(x_train)))

              precision    recall  f1-score   support

           0       0.96      0.70      0.81   1969993
           1       0.08      0.52      0.14    103607

    accuracy                           0.69   2073600
   macro avg       0.52      0.61      0.48   2073600
weighted avg       0.92      0.69      0.78   2073600

In [ ]:
print(classification_report(y_test,rfc.predict(x_test)))

              precision    recall  f1-score   support

           0       0.95      0.69      0.80    492407
           1       0.05      0.31      0.08     25993

    accuracy                           0.67    518400
   macro avg       0.50      0.50      0.44    518400
weighted avg       0.90      0.67      0.76    518400